<ion-content>
  <h2 style="text-align: center;">Job Seekers</h2>

  <ion-grid class="grid-border">
    <ion-row class="row-border">
      <ion-col><strong>Name</strong></ion-col>
      <ion-col><strong>Email</strong></ion-col>
      <ion-col><strong>Address</strong></ion-col>
      <ion-col><strong>Phone</strong></ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row *ngFor="let employee of employees">
      <ion-col>{{ employee.name }}</ion-col>
      <ion-col>{{ employee.email }}</ion-col>
      <ion-col>{{ employee.address }}</ion-col>
      <ion-col>{{ employee.phone }}</ion-col>
      <ion-col>
        <ion-button color="danger" (click)="confirmDelete(employee)">
          Delete
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>