ion-content {
      --background: linear-gradient(135deg, #71b7e6, #9b59b6);
      display: flex;
      justify-content: center;
      padding: 20px;
      overflow: auto;
      align-items: center;
}
