ion-content {
    --background: linear-gradient(135deg, #71b7e6, #9b59b6);
    display: flex;
    justify-content: center;
    padding: 20px;
    overflow: auto;
    align-items: center;
}

.grid-border{
    border: 3px solid #000000;
    border-radius: 8px;
    padding: 10px;
    color: black;
    background-color: rgb(255, 255, 255);
    max-width: 1200px; 
    width: 100%; 
}

.row-border{
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 10px
}
